<p-toast></p-toast>
<div class="p-grid p-fluid">
    <div class="p-col-12">
        <div class="p-inputgroup">
            <h2>Consultar</h2>
        </div>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <label>Nome </label>
        <p-dropdown [options]="contatosNome" [(ngModel)]="selectedName" optionLabel="nome"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <label>Telefone </label>
        <p-dropdown [options]="contatosNome" [(ngModel)]="selectedPhone" optionLabel="telefone1"></p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton pRipple type="button" class="p-button-secondary" label="Limpar" (click)="limpar()"></button>
    </div>
    <div class="p-field p-col-12 p-md-1">
        <button pButton pRipple type="button" label="Enviar" (click)="filtro()"></button>
    </div>

</div>
<div class="card">


    <p-table #dt [value]="contatos" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Lista de Contatos</h5>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone1</th>
                <th>Telefone2</th>
                <th>Telefone3</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contato>
            <tr>

                <td>{{contato.nome}}</td>
                <td>{{contato.idade}}</td>
                <td>{{contato.telefone1}}</td>
                <td>{{contato.telefone2}}</td>
                <td>{{contato.telefone3}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editaContato(contato)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deletaContato(contato)"></button>
                </td>
            </tr>
        </ng-template>


    </p-table>




</div>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Sim" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="Não" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-dialog [(visible)]="itemDialog" [style]="{width: '450px', height:'700px'}" header="Detalhe do Contato"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nome</label><span style="color: red">*</span>
            <input type="text" pInputText id="name" [(ngModel)]="contatoSelecionado.nome" autofocus />
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Idade</label>
                <input placeholder="Idade" type="number" [(ngModel)]="contatoSelecionado.idade" pInputText />
            </div>
            <div class="p-field p-col">
                <label for="quantity">Telefone1</label>
                <p-inputMask mask="(99)9 9999-9999" placeholder="(99)9 9999-9999"
                    [(ngModel)]="contatoSelecionado.telefone1"></p-inputMask>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Telefone2</label>
                <p-inputMask mask="(99)9 9999-9999" placeholder="(99)9 9999-9999"
                    [(ngModel)]="contatoSelecionado.telefone2"></p-inputMask>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Telefone3</label>
                <p-inputMask mask="(99)9 9999-9999" placeholder="(99)9 9999-9999"
                    [(ngModel)]="contatoSelecionado.telefone3"></p-inputMask>
            </div>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">

        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSalvar()"></button>
    </ng-template>
</p-dialog>