<form class="form-horizontal" [formGroup]="itemFormulario" (ngSubmit)="onSubmit()">
    <div class="p-grid p-fluid">
        <div class="p-col-12">
            <div class="p-inputgroup">
                <h2>Cadastrar</h2>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label>Nome </label><span style="color: red">*</span>
            <input placeholder="Nome" formControlName="nome" type="text" 
                pInputText />
        </div>
        <div class="p-field p-col-12 p-md-2">
            <label>Idade </label><span style="color: red">*</span>
            <div class="p-inputgroup">
                <input formControlName="idade"  placeholder="Idade" type="number" [max]="idadeMaxima" (keypress)="validaQuantidade()" (keyup)="limitDigits($event)"
                    pInputText />
                <span class="p-inputgroup-addon">anos</span>
            </div>           
        </div>
        <div *ngFor="let number of counter(quantidadeTelefone),let i = index" class="p-field p-col-12 p-md-2">
            <label>Telefone {{i+1}}</label><span *ngIf="i === 0"style="color: red">*</span>                    
                <p-inputMask   [formControlName]="getControlTelefone(i+1)" mask="(99)9 9999-9999"   placeholder="(99)9 9999-9999" ></p-inputMask>              
        </div>        
        <div class="p-field p-col-12 p-md-1">
            <button  pButton pRipple type="button" class="p-button-secondary" label="+ Telefone" (click)="addFone()"></button>
        </div>
        <div class="p-field p-col-12 p-md-1">
            <button pButton pRipple type="submit" label="Enviar"></button>
        </div>
    </div>
</form>
<p-toast position="bottom-center" key="bc"></p-toast>